@font-face {
    font-family: 'Roboto';
    src: url("assets/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: 'Material Icons';
    src: url(/assets/Material_Symbols/Material_Symbols_Outlined/MaterialSymbolsOutlined-VariableFont_FILL\,GRAD\,opsz\,wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
}

:root {
    font-family: 'Roboto';
    font-size: 16px;
    --color-main: rgba(24, 146, 213, 255);
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.left--section {
    background: var(--color-main);
    height: 100%;
    width: clamp(200px, 20vw, 300px);
    min-width: 200px;
    color: #FFFFFF;
    padding: 0.75rem;
    z-index: 2;

    .logo--title {
        font-size: 0.55rem;

        #dashboard::before {
            font-family: 'Material Icons';
            content: "browse";
            font-size: 1.75rem;
            font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24;
        }

        .title--text {
            display: flex;
            align-items: center;
        }
    }

    ::before {
        font-family: 'Material Icons';
        font-size: 1.2rem;
        font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 24;
        margin-right: 0.75rem;
    }

    .nav--upper-links,
    .nav--lower-links {
        margin-top: 2.5rem;
    }

    .nav--upper-links {
        #home::before {
            content: "home";
        }
    
        #profile::before {
            content: "id_card";
            font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;
        }
    
        #messages::before {
            content: "mode_comment";
        }
    
        #history::before {
            content: "history";
        }
    
        #tasks::before {
            content: "file_copy";
        }
    
        #communities::before {
            content: "groups";
        }
    }

    .nav--lower-links {
        #settings::before {
            content: "settings";
        }

        #support::before {
            content: "contact_support";
        }

        #privacy::before {
            content: "shield_lock";
        }
    }

    li {
        list-style: none;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    li:has(+ li) {
        margin-bottom: 0.8rem;
    }
}

.right--section {
    width: 100%;
    height: 100%;

    .header {
        padding: 0.75rem 1.75rem;
        min-width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 1.25rem;
        box-shadow: 0px -15px 20px 5px rgba(97, 97, 97, 0.832);
        position: relative;
        z-index: 1;
    
        ::before {
            font-family: 'Material Icons';
            font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 24;
            font-size: 1.2rem;
            cursor: pointer;
        }
        
        .header--top-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            .header--search-bar {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;
                min-width: 40%;
                width: 100%;
            
                #search-bar {
                    background: rgba(227, 233, 240, 255);
                    border: none;
                    border-radius: 10px;
                    height: 1.5rem;
                    width: clamp(10vw, 500px, 50vw);
                    padding-inline: 1rem;
                    outline: none;
                }
            }
    
            .header--search-bar::before {
                content: "search";
                font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 24;
                align-self: center;
            }
            
            .header--profile {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                min-width: fit-content;
                gap: 1rem;
                padding-left: 2rem;
            
                .header--notification-bell {
                font-size: 12px;
                }
    
                #bell::before {
                    content: "notifications_active";
                }
            
                .header--profile-image {
                    height: 30px;
                    max-height: fit-content;
                    cursor: pointer;
            
                    #small-profile-image {
                    height: 30px;
                    }
                }
                
                .header--username {
                    font-size: 1rem;
                    font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 24;
                    cursor: pointer;
                }
            }
        }
        
        .header--bottom-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            .header--welcome {
                min-width: 40%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;
                font-size: 0.75rem;
                font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 24;
            
                .header--profile-image {
                    height: 45px;
            
                    #large-profile-image {
                    height: 45px;
                    }
            
                }
            
                .header--welcome-text {
                    display: flex;
                    flex-direction: column;
                    gap: 0.25rem;
            
                    .header--salutations {
                        font-size: 0.85rem;
                    }

                    .header--username-handle {
                        font-size: 1.1rem;
                    }
                }
            
            }
            
            .header--buttons {
                /* background-color: orange; */
                min-width: 40%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 1rem;
                padding-left: 2rem;
            
                button {
                    background: var(--color-main);
                    border: none;
                    color: #FFFFFF;
                    min-width: 60px;
                    border-radius: 15px;
                    padding: 0.50rem 1.5rem;
                    max-height: 30px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }
            }
        }
    }
    
    .content {
        background: rgba(227, 233, 240, 255);
        height: 100%;
        display: flex;
        justify-content: space-between;

        * {
            /* border: 1px solid red; */
        }

        [class*="title"] {
            margin-bottom: 0.75rem;
        }

        .content--your-projects {
            width: 100%;
            padding: 1.5rem 1rem;

            .content--projects-title {
                font-size: 1rem;
            }

            .content--cards-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1.5rem;

                .card {
                    background-color: #FFF;
                    height: 250px;
                    min-width: 200px;
                    border-radius: 10px;
                    display: flex;
                    overflow: hidden;
                    box-shadow: 8px 5px 10px -3px rgba(97, 97, 97, 0.205);

                    .card--content {
                        padding: 2rem 1.25rem;

                        .card--text-buttons {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            height: 100%;

                            .card--text {
                                min-height: 80%;
                                max-height: 80%;
                                width: 100%;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: wrap;

                                h5 {
                                    font-size: 0.95rem;
                                }
        
                                p {
                                    color: rgb(80, 80, 80);
                                    display: -webkit-box;
                                    -webkit-line-clamp: 5;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }

                            .card--buttons {
                                width: 100%;
                                display: flex;
                                justify-content: flex-end;
                                gap: 1.2rem;
                                height: 20%;

                                button {
                                    background: none;
                                    border: none;
                                }

                                ::before {
                                    font-family: 'Material Icons';
                                    font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 24;
                                    font-size: 1.25rem;
                                    cursor: pointer;
                                }

                                #favorite::before {
                                    content: 'heart_plus';
                                }
                                #view::before {
                                    content: 'visibility';
                                }
                                #share::before {
                                    content: 'share';
                                }
                            }
                        }

                    }
                }

                .card::before {
                    content: '';
                    height: 100%;
                    min-width: 6px;
                    background: rgb(223, 189, 97);
                }
            }
        }

        .content--announcements-trending {
            display: flex;
            flex-direction: column;
            padding: 1.5rem 1rem 1.5rem 0px;
            gap: 1.5rem;
            width: clamp(20vw, 450px, 30vw);

            .content--announcements {
                .content--announcements-title {
                    font-size: 0.95rem;
                }

                .content--announcements-container {
                    background: #FFF;
                    padding: 2rem;
                    border-radius: 10px;
                    box-shadow: 8px 5px 10px -3px rgba(97, 97, 97, 0.205);
                    font-size: 0.75rem;

                    .content--announcement-content {
                        content: '';

                        h5 {
                            font-size: 0.95rem;
                            margin-bottom: 0.25rem;
                            cursor: pointer;
                        }

                        p {
                            color: rgb(80, 80, 80);
                        }
                    }

                    .content--announcement-content:has(+ .content--announcement-content) {
                        padding-bottom: 1rem;
                        margin-bottom: 1rem;
                        border-bottom: 1px solid #e0e0e0;
                    }
                }
            }

            .content--trending {
                .content--trending-title {
                    font-size: 1rem;
                }

                .content--trending-container {
                    background: #FFF;
                    padding: 1.5rem;
                    border-radius: 10px;
                    box-shadow: 8px 5px 10px -3px rgba(97, 97, 97, 0.205);
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .content--trending-item {
                        display: flex;
                        gap: 1rem;
                        
                        img {
                            border-radius: 50%;
                        }

                        .content--trending-text {
                            display: block;

                            .content--trending-handle {
                                font-variation-settings: 'wght' 400;
                            }

                            .content--trending-project {
                                color: rgb(80, 80, 80);
                            }
                        }
                    }
                }
            }
        }
    }
}

